.userList {
    flex: 4;
  }
  
  .userListUser {
    display: flex;
    align-items: center;
  }
  
  .userListImg {
    width: 40px;
    height: 40px;
    border-radius: 5%;
    object-fit: cover;
    margin-right: 10px;
    margin-top: 15px;
  }
  
  .userListEdit{
      border: none;
      border-radius: 10px;
      padding: 5px 10px;
      background-color: #3bb077;
      color: white;
      cursor: pointer;
      margin-right: 20px;
  }
  
  .userListDelete{
      color: red;
      cursor: pointer;
  }
 .userListItem{
   display: flex;
   flex-direction: row;
 }
 .userListname{
   margin-left: 10px;
 }